
{% extends "base.html" %}
{% load static %}
{% block content %}
{% block title %} <title>Virtual Church : Home</title>{% endblock %}
<section class="u-clearfix u-image u-section-3" id="carousel_1970" data-image-width="1980" data-image-height="1114">
      <div class="u-clearfix u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
          <div class="u-layout-row">
            <div class="u-align-left u-container-align-left u-container-style u-layout-cell u-left-cell u-shape-rectangle u-size-26-lg u-size-28-xl u-size-29-md u-size-29-sm u-size-29-xs u-layout-cell-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
              <div class="u-container-layout u-valign-middle u-container-layout-1">
                <h2 class="u-align-left u-text u-text-body-alt-color u-text-1">Welcome to our Virtual Church! Join Us Online<br>
                </h2>
               
                <a href="#" class="u-active-white u-align-left u-border-2 u-border-active-white u-border-hover-white u-border-white u-btn u-button-style u-hover-white u-none u-btn-2">Contact us</a>
              </div>
            </div>
            <div class="u-container-style u-image u-layout-cell u-right-cell u-shape-rectangle u-size-31-md u-size-31-sm u-size-31-xs u-size-32-xl u-size-34-lg u-image-1" data-image-width="1200" data-image-height="949" data-animation-name="customAnimationIn" data-animation-duration="1500">
              <div class="u-container-layout u-container-layout-2"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-left u-clearfix u-container-align-left u-section-4" id="carousel_b84f">
      <div class="u-clearfix u-sheet u-valign-middle-xs u-sheet-1">
        <p class="u-text u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1500">Nisl purus in mollis nunc sed id. Aenean vel elit scelerisque mauris pellentesque pulvinar pellentesque. Turpis egestas sed tempus urna et pharetra. Id aliquet risus feugiat in ante metus dictum. Aliquet nec ullamcorper sit amet risus nullam. Lectus nulla at volutpat diam ut. </p>
        <div class="u-palette-1-light-2 u-preserve-proportions u-shape u-shape-circle u-shape-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500"></div>
        <div class="u-align-left u-image u-image-circle u-image-1" data-image-width="800" data-image-height="807" data-animation-name="customAnimationIn" data-animation-duration="1500"></div>
        <h3 class="u-text u-text-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">The Bible is best experienced in community</h3>
        <div class="u-palette-1-base u-shape u-shape-circle u-shape-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750"></div>
        <p class="u-custom-font u-font-pt-sans u-text u-text-3" data-animation-name="customAnimationIn" data-animation-duration="1500">Image from <a href="https://freepik.com/photos/people" class="u-active-none u-border-1 u-border-black u-border-no-left u-border-no-right u-border-no-top u-btn u-button-link u-button-style u-hover-none u-none u-text-body-color u-btn-1">Freepik</a>
        </p>
        <a href="#" class="u-active-white u-align-center u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-base u-border-palette-1-base u-btn u-button-style u-hover-white u-palette-1-base u-text-active-palette-1-base u-text-hover-palette-1-base u-btn-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500" data-animation-direction="">Learn more</a>
        <div class="u-shape u-shape-svg u-text-palette-1-base u-shape-3" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750">
          <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 160" style=""><use xlink:href="#svg-30e5"></use></svg>
          <svg class="u-svg-content" viewBox="0 0 160 160" x="0px" y="0px" id="svg-30e5" style="enable-background:new 0 0 160 160;"><path d="M80,30c27.6,0,50,22.4,50,50s-22.4,50-50,50s-50-22.4-50-50S52.4,30,80,30 M80,0C35.8,0,0,35.8,0,80s35.8,80,80,80
	s80-35.8,80-80S124.2,0,80,0L80,0z"></path></svg>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-image u-section-5" id="sec-f6d9" data-image-width="1600" data-image-height="1067">
      <div class="u-clearfix u-sheet u-valign-middle-sm u-valign-middle-xs u-sheet-1">
        <div class="u-container-style u-group u-palette-1-base u-group-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250">
          <div class="u-container-layout u-valign-middle u-container-layout-1">
            <h6 class="u-text u-text-body-alt-color u-text-1">Welcome to Home<br>
            </h6>
            <h2 class="u-text u-text-body-alt-color u-text-2">Meetings in the Church</h2>
          </div>
        </div>
        <p class="u-text u-text-body-alt-color u-text-3" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">Dictum sit amet justo donec enim diam vulputate. Sociis natoque penatibus et magnis dis parturient. Molestie ac feugiat sed lectus vestibulum mattis. Vitae congue mauris rhoncus aenean vel elit scelerisque.&nbsp;</p>
        <a href="#" class="u-active-white u-align-center u-border-2 u-border-active-white u-border-hover-white u-border-white u-btn u-button-style u-hover-white u-none u-btn-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500" data-animation-direction="">Learn more</a>
      </div>
    </section>
    <section class="u-clearfix u-white u-section-6" id="sec-d143">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
          <div class="u-gutter-0 u-layout">
            <div class="u-layout-col">
              <div class="u-size-60">
                <div class="u-layout-row">
                  <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250">
                    <div class="u-container-layout u-container-layout-1">
                      <img src="{% static 'images/ret4.jpg' %}" alt="" class="u-expanded-width u-image u-image-default u-image-1" data-image-width="800" data-image-height="712">
                      <p class="u-align-left u-text u-text-1">Image from <a href="https://www.freepik.com/photos/boy" class="u-active-none u-border-1 u-border-black u-border-no-left u-border-no-right u-border-no-top u-btn u-button-link u-button-style u-hover-none u-none u-text-body-color u-btn-1" target="_blank">Freepik</a>
                      </p>
                    </div>
                  </div>
                  <div class="u-align-left u-container-align-left u-container-style u-layout-cell u-size-30 u-layout-cell-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                    <div class="u-container-layout u-valign-top u-container-layout-2">
                      <div class="u-palette-1-base u-shape u-shape-circle u-shape-1"></div>
                      <h3 class="u-align-left u-text u-text-2">Weekly meetings of 8-10 people to connect in a biblical community.</h3>
                      <p class="u-align-left u-text u-text-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed faucibus turpis in eu mi bibendum neque. Arcu dictum varius duis at consectetur lorem donec massa. Tempus imperdiet nulla malesuada pellentesque . </p>
                      <a href="#" class="u-active-white u-align-left u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-base u-border-palette-1-base u-btn u-button-style u-hover-white u-palette-1-base u-text-active-palette-1-base u-text-hover-palette-1-base u-btn-2" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">Learn more</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-container-align-center-xs u-palette-1-light-1 u-section-7" id="sec-021b">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-align-center u-container-align-center u-container-style u-expanded-width-xs u-group u-white u-group-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
          <div class="u-container-layout u-valign-top u-container-layout-1">
            <h2 class="u-align-center u-text u-text-1">Contact Us</h2>
            <div class="u-align-left u-form u-form-1">
              <form action="https://forms.nicepagesrv.com/v2/form/process" class="u-clearfix u-form-spacing-28 u-form-vertical u-inner-form" style="padding: 10px" source="email" name="form">
                <div class="u-form-group u-form-name">
                  <label for="name-5a14" class="u-form-control-hidden u-label">Name</label>
                  <input type="text" placeholder="Enter your Name" id="name-5a14" name="name" class="u-border-2 u-border-black u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle" required="">
                </div>
                <div class="u-form-email u-form-group">
                  <label for="email-5a14" class="u-form-control-hidden u-label">Email</label>
                  <input type="email" placeholder="Enter a valid email address" id="email-5a14" name="email" class="u-border-2 u-border-black u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle" required="">
                </div>
                <div class="u-form-group u-form-message">
                  <label for="message-5a14" class="u-form-control-hidden u-label">Message</label>
                  <textarea placeholder="Enter your message" rows="4" cols="50" id="message-5a14" name="message" class="u-border-2 u-border-black u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle" required=""></textarea>
                </div>
                <div class="u-align-center u-form-group u-form-submit">
                  <a href="#" class="u-border-2 u-border-black u-btn u-btn-submit u-button-style u-hover-black u-none u-text-black u-text-hover-white u-btn-1">Submit</a>
                  <input type="submit" value="submit" class="u-form-control-hidden">
                </div>
                <div class="u-form-send-message u-form-send-success"> Thank you! Your message has been sent. </div>
                <div class="u-form-send-error u-form-send-message"> Unable to send your message. Please fix errors then try again. </div>
                <input type="hidden" value="" name="recaptchaResponse">
                <input type="hidden" name="formServices" value="6d57dac6-ff19-96c4-2a12-466f09547262">
              </form>
            </div>
            <p class="u-align-center u-text u-text-2">Image from <a href="https://freepik.com/photos/people" class="u-active-none u-border-1 u-border-grey-75 u-border-no-left u-border-no-right u-border-no-top u-btn u-button-link u-button-style u-hover-none u-none u-text-body-color u-btn-2">Freepik</a>
            </p>
          </div>
        </div>
        <img src="images/ser-min.jpg" alt="" class="u-image u-image-default u-image-1" data-image-width="900" data-image-height="846" data-animation-name="customAnimationIn" data-animation-duration="1500">
        <div class="u-expanded-width-xs u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-container-align-left u-container-style u-list-item u-palette-5-dark-3 u-repeater-item u-list-item-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-2">
                <h5 class="u-align-left u-text u-text-3">
                  <span class="u-file-icon u-icon u-text-palette-1-base u-icon-1">
                    <img src="images/597177-f997aad6.png" alt="">
                  </span>&nbsp;Call Us
                </h5>
                <p class="u-align-left u-text u-text-4">1 (234) 567-891, 1 (234) 987-654</p>
              </div>
            </div>
            <div class="u-container-align-left u-container-style u-list-item u-palette-5-dark-3 u-repeater-item u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3">
                <h5 class="u-align-left u-text u-text-5">
                  <span class="u-file-icon u-icon u-text-palette-1-base u-icon-2">
                    <img src="images/3177361-2d55fe49.png" alt="">
                  </span>&nbsp;Location
                </h5>
                <p class="u-align-left u-text u-text-6">121 Rock Sreet, 21 Avenue, New York, NY 92103-9000</p>
              </div>
            </div>
            <div class="u-container-align-left u-container-style u-list-item u-palette-5-dark-3 u-repeater-item u-list-item-3" data-animation-direction="Up" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-4">
                <h5 class="u-align-left u-text u-text-7">
                  <span class="u-file-icon u-icon u-text-palette-1-base u-icon-3">
                    <img src="images/9628830-31137a18.png" alt="">
                  </span>&nbsp;Working Hours
                </h5>
                <p class="u-align-left u-text u-text-8">Mon – Fri …… 11 am – 8 pm, Sat, Sun&nbsp;&nbsp;…… 6 am – 8 pm</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
{% endblock content %}