
{% extends "base.html" %}
{% load static %}
{% block content %}
{% block title %} <title>Virtual Church : Home</title>{% endblock %}
<section class="u-align-center u-clearfix u-container-align-center u-image u-shading u-section-1" id="sec-5ea4" data-image-width="1980" data-image-height="1130">
  <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
    <h1 class="u-align-left u-custom-font u-font-lato u-text u-text-body-alt-color u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1500"> Welcome to our Virtual Church</h1>
    <h3 class="u-align-left u-text u-text-body-alt-color u-text-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500"> Duis aute irure dolor in reprehenderit in voluptate velit esse.</h3>
   
    <a href="#" class="u-active-white u-align-left u-border-2 u-border-active-white u-border-hover-white u-border-white u-btn u-button-style u-hover-white u-none u-btn-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">Join the Team</a>
  </div>
</section>
<p class="u-align-center u-text u-text-default u-text-8" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750"></a>
</p>
{% endblock content %}