

{% extends "base.html" %}
{% load static %}
{% block content %}
{% block title %} <title>Virtual Church : Resources </title>{% endblock %}

<section class="products section-padding">
  <div class="container">
      <div class="row">
          
          <div class="col-12">
              <h2 class="mb-5">Our Resources</h2>
          </div>
          {% if resources %}
          {% for resource in resources %}
          <div class="col-lg-4 col-12 mb-3">
              <div class="product-thumb">
                  <a href="#">
                      <img src="{% static 'images/product/evan-mcdougall-qnh1odlqOmk-unsplash.jpeg' %}" class="img-fluid product-image" alt="">
                  </a>

                  <div class="product-top d-flex">
                    {% if resource.files %}
                    <a href="{{ resource.files.url }}" download style="color: rgb(173, 185, 120); font-weight: bold;"><span class="product-alert me-auto" >Click to Download</span></a>
                      {% endif %}
                  </div>

                  <div class="product-info d-flex">
                      <div>
                          <h5 class="product-title mb-0">
                              <a href="#" class="product-title-link">{{ resource.title }}</a>
                          </h5>

                          <p class="product-p">{{ resource.description }}</p>
                      </div>

                  </div>
              </div>
          </div>

   
          {% endfor %} 
          {% else %}
          <p>No resources available.</p>
      {% endif %}

        
      </div>
  </div>
</section>


{% endblock content %}